.bar {
	fill: steelblue;
}
.bar:hover {
	fill: orange;
}

.node circle {
  fill: #fff;
  stroke: LawnGreen;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
