/* Style Sheet for ATP Match Data visualizations pages
Name: Lennert Jansen
Student number: 10488952
Date: 28 June 2018
Course: Programming Project, Spring 2018 */

/* fill for bar chart rects for both normal and hover cases */
.bar {
	fill: steelblue;
}
.bar:hover {
	fill: orange;
}

 /* design for nodes of dendrogram to look like tennis balls, links and font */
.node circle {
  fill: #fff;
  stroke: LawnGreen;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* Tooltip design */
.d3-tip {
  line-height: 1;
  font-family: sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/*  help tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

 /* html background body design */
html, body {
	height: 1600px;
  width: 100%;
	margin: 0;
	padding: 0;
  color: white;
}
body {
  background: rgb(231,76,60);
  background: -moz-linear-gradient(-45deg,  grey 0%, black 100%);
  background: -webkit-linear-gradient(-45deg,  grey) 0%, black 100%);
  background: linear-gradient(135deg,  grey 0%, black 100%);
  background: linear-gradient(135deg, white, #e4fecc);
}

/* Titles and whatnot */
.chartTitle {
    color: grey;
    font-family: arial;
    font-size: 16px;
	opacity: 0.5;
}

/* Autocompletion design */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* For correct allignment of div's in html */
#sides{
margin:0;
}
#left{
float:left;
width:75%;
overflow:hidden;
}
#right{
float:left;
width:25%;
overflow:hidden;
}
